.move-history {
  position: absolute;
  left: 0;
  top: 0;
  height: 100svh;
  background-color: ivory;
  padding: 1rem;
  padding-top: 4rem;
  margin: 0;
  box-shadow: 0 0 5px #ccc;
}

.move-history ol {
  padding-left: 20px;
}

.history-step {
  margin-bottom: 10px;
}
